@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');

@font-face {
    font-family: Trebuchet;
    src: url(C:/Windows/Fonts/trebucbd.ttf);
}

body{
    margin-right: 100px;
    margin-left: 100px;
}

header{
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

#secao-apresentacao{
    height: 100vh;
    background-color: red;
    display: flex; /*Itens colocados não serão colocados abaixo e sim se sobrar espaço, ao lado*/
    align-items: center;
    gap: 5rem; /*Distancia todos os itens no valor informado*/
    padding: 2rem; /*Distancia interna dos itens em relação ao conteúdo*/
}

#secao-apresentacao img{
    border-radius: 100%;
}

#secao-apresentacao div h2{
    color: #A6C7FF;
    font-family: Trebuchet;
    /*16px = 1rem*/
    font-size: 2.5rem; /*4.3rem*/
}

    /*Selecionar > Shift + tecla pra vaixo > Duplica igual o que está selecionado */

#secao-apresentacao div p{
    color: #F4F4F4;
    font-family: 'Miriam Libre', serif;
    font-size: 1.5rem; /*3.1rem*/
}

header::before{
    content:"";
    position: absolute;
    background-image: url(../images/background.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: block;
    margin: 0px;
    z-index: -1;
    top: 0px;
    left: 0px;
}

#nome {
    font-family: Trebuchet, sans-serif;
    color: #DDDDDD;
    font-size: 62px;
}

#embaixo {
    font-family: 'Miriam Libre', serif;
    color: #326898;
    font-size: 30px;
}

p {
    color: white;
}

