@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');

@font-face {
    font-family: Trebuchet;
    src: url(C:/Windows/Fonts/trebucbd.ttf);
}

header{
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

#secao-apresentacao{
    height: 100vh;
    background-color: whitesmoke;
    display: flex; /*Itens colocados não serão colocados abaixo e sim se sobrar espaço, ao lado*/
    align-items: center;
    gap: 5rem; /*Distancia todos os itens no valor informado*/
    padding: 2rem; /*Distancia interna dos itens em relação ao conteúdo*/
}

#secao-apresentacao img{
    border-radius: 100%;
}

#secao-apresentacao div h2{
    color: #00173f;
    font-family: Trebuchet;
    /*16px = 1rem*/
    font-size: 2.5rem; /*4.3rem*/
}

    /*Selecionar > Shift + tecla pra vaixo > Duplica igual o que está selecionado */

#secao-apresentacao div p{
    color: #326898;
    font-family: 'Miriam Libre', serif;
    font-size: 1.5rem; /*3.1rem*/
}

header::before{
    content:"";
    position: absolute;
    background-image: url(../images/background.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: block;
    margin: 0px;
    z-index: -1;
    top: 0px;
    left: 0px;
}

#nome {
    font-family: Trebuchet, sans-serif;
    color: #DDDDDD;
    font-size: 62px;
}

#embaixo {
    font-family: 'Miriam Libre', serif;
    color: #326898;
    font-size: 30px;
}

p {
    color: white;
}

#secao-projetos{
    height: 100vh;
    background-color: #00173f;
}

#secao-projetos ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    top: 100px;
    position: relative;
    padding: 0px;
}

.card{
    max-height: 454px;
    max-width: 300px;
    position: relative;
    cursor: pointer;
    border: 1.75px solid #DDDDDD;
    border-radius: 20px;
}

.card .image {
    height: 100%;
    width: 100%;
    
}

.image img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.card .texto {
    position: absolute;
    top: 10px;
    opacity: 0;
    transition: opacity .5s;
}

.card:hover .texto {
    opacity: 1;
}

li {
    list-style: none;
}

#secao-orcamento{
    height: 100vh;
    padding: 3rem;
}

#secao-orcamento form{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    max-width: 500px;
    margin: 0 auto;
}

.campo {
    display: flex;
    flex-direction: column;
}

.linha {
    grid-column: 1 / 3;
}

input[type=text],
input[type=number],
select
{
    background-color: #272537;
    color: white;
    border-radius: .25rem;
    border: 0;
    padding: .5rem;
}

input[type=radio],
input[type=checkbox],
input[type=range] {
    accent-color: #F0C;
}

span{
    font-size: 62px; 
}
